# REST API proxy cho local
API_PROXY_TARGET=http://127.0.0.1:8000

# Voice WebSocket backend
NEXT_PUBLIC_VOICE_WS_URL=https://abc.onrender.com

# Google OAuth
NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
